footer {
  float: left;
  font-size: 14px;
  color: #8a8a8a;
}

nav {
  margin: 0px;
  padding: 0 1rem;
  background-color: #FAFAFA;
  border-bottom: 1px solid #E5E5E5;
}

nav > a {
  display: inline-block;
  border-left: 1px solid #E5E5E5;
  padding: 1rem;
}

nav > a:nth-child(1) {
  padding-left: 0;
  border-left: none;
}
